
**/.DS_Store
.DS_Store
__pycache__
dist
build

# sensitive data 
singleField/
**/singleField/
faultyFields/
Trial_HVF/

**/save.csv
save.csv
**/analysis.csv
analysis.csv

automated_hvf_grading.egg-info
automated_hvf_grading/__pycache__

hvf_extraction_script/hvf_extraction_script.egg-info
hvf_extraction_script/build
hvf_extraction_script/dist
.vscode/launch.json
.vscode/settings.json